#citySuggestions {
    border: 1px solid #ccc;
    border-top: none;
    max-height: 200px;
    overflow-y: auto;
    background-color: #fff;
    position: absolute;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.suggestion {
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
    color: #333;
}

.suggestion:hover {
    background-color: #f0f0f0;
}

#city {
    width: 100%;
    padding: 10px;
    font-size: 14px;
}
